html {
	font-family: sans-serif; /* 1 */
	line-height: 1.15; /* 2 */
	-ms-text-size-adjust: 100%; /* 3 */
	-webkit-text-size-adjust: 100%; /* 3 */
  }
  
  /* Sections
	 ========================================================================== */
  
  /**
   * Remove the margin in all browsers (opinionated).
   */
  
  body {
	margin: 0;
  }
  h1 {
	font-size: 2em;
	margin: 0.67em 0;
  }

  
a {
	background-color: transparent; /* 1 */
	-webkit-text-decoration-skip: objects; /* 2 */
  }
  
  a:active,
  a:hover {
	outline-width: 0;
  }
  
svg:not(:root) {
	overflow: hidden;
  }

  button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input { /* 1 */
  overflow: visible;
}
button,
select { /* 1 */
  text-transform: none;
}
button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}


[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

canvas {
  display: inline-block;
}

[hidden] {
  display: none;
}
